body{
    background-image: url("../img/plant-based-food-mc-220323-02-273c7b.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
#sign_up
{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 30px;
}
#log_in{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 30px;
}
#log_admin
{
    text-align: center;
    cursor: pointer;
}
#admin{
    color: cornflowerblue;
}
#sign{
    color: #344767;
    text-decoration: underline;
}
#objectif{
    text-align: center;
    padding-left: 30px;
    color: red;
}
#goal{
    background-image: url("../img/how-to-eat-healthy.webp");
}
